.sticky {
	display: block;
}


.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Home page styles 
.home {

	background: linear-gradient(134deg, #ff716995, #66ffc779, #ff716995, #66ffc779);
	background-size: 400% 400%;

	-webkit-animation: gradient-animation 32s ease infinite;
	-moz-animation: gradient-animation 32s ease infinite;
	animation: gradient-animation 32s ease infinite;

	
	@-webkit-keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}
	@-moz-keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}
	@keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}

	.intro-container {

		display: flex;

		h1 {
			
			position: relative;
			font-size: 7.7vw;
			font-weight: bold;
			overflow: hidden;
			margin: 0 auto;
			padding-top: 20vh;
			color: #313d4f;

			span.coulson {
				display: inline-block;
				opacity: 0;
			}

			// span.text {
				
			// }

			span.cursor {
				font-weight: normal;
			}
		}
	}

	.text-container {

		overflow: hidden;
		opacity: 0;
		
		p {

			margin: 0 auto;
			text-align: center;
			font-size: 4vw;
			padding: 2rem;
			overflow: hidden;
			font-weight: 500;
			color: #282828;
		}
	}

	footer {
		display: none;
	}
}

// Home page styles - Tablet 
@media screen and (min-width: $mq__tablet) {
	
	.home {
		.intro-container {

			h1 {
				padding-top: 21vh;
			}
		}

		.text-container {

			p {
				padding: 3rem;
			}
		}
	}
}

// Home page styles - desktop (sm) 
@media screen and (min-width: $mq__desktop_small) {
	
	.home {
		.intro-container {

			h1 {
				padding-top: 21vh;
				font-size: 6.5vw;
			}
		}

		.text-container {

			p {
				font-size: 2.2vw;
				padding: 3rem;
			}
		}
	}
}

// Home page styles - desktop (sm) 
@media screen and (min-width: $mq__desktop_large) {
	
	.home {
		.intro-container {

			h1 {
				padding-top: 20vh;
				font-size: 5.5vw;
			}
		}

		.text-container {

			p {
				font-size: 1.7vw;
				padding: 3rem;
			}
		}
	}
}

// Single Project Page - Mobile 
.single-coulson-projects {
	.site {
		// Project head section
		.project-title {
			text-align: center;
			font-size: 1.5rem;
			color: #282828;
		}

		#intro-info p,
		#planning p,
		#design p,
		#development p,
		#reflections p {
			padding: 0 1.3rem;
		}

		// Project live site and github link section
		#links {

			display: flex;
			justify-content: space-evenly;
			margin-bottom: 1.5rem;

			a {
				text-decoration: none;
				color: #fff;
				font-size: 1em;
			}

			#live-site-link ,
			#github-link {

				margin: 2rem 0;
				
				a {
					width: 40%;
					border: 2px solid #282828;
					background-color:  #282828;
					text-align: center;
					padding: 1.3rem 1.5rem;
					border-radius: 8px;
					box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
					margin: 1rem 0;
					max-width: 12.5rem;
					transition: 0.2s ease;

					&:focus {

						transform-origin: scale(1.1);
						background-color: #ff7069;
						color: #282828;
	
						&:before {
							color:#282828;
						}
					}

				}
			}

			#live-site-link a {

				&:before {
					content: '\f5fc';
					font-family: 'FontAwesome';
					font-size: 15px;
					font-weight: 500;
					margin-right: 5px;
					color: #fff;
					transition: 0.2s ease;
				}
			}

			#github-link a {

				padding: 21px 30.5px;

				&:before {
					content: '\f09b';
					font-family: 'FontAwesome';
					font-size: 15px;
					font-weight: 500;
					margin-right: 5px;
					color: #fff;
					transition: 0.2s ease;
				}
			}
		}

		//Technology used section 
		#technology-used,
		#other-technology {

			border: 2px solid #282828;
			border-radius: 8px;
			margin: 0 1rem;
			margin-bottom: 2.2rem;
			background-color: #282828;
			box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

			h2 {
				text-align: center;
				font-size: 1.2rem;
				color: #fff;
				letter-spacing: 1px;
			}

			ul {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				margin: 0;
				padding: 0;
				justify-content: space-evenly;

				svg {
					fill: #fff;
					width: 70px;
					height: 70px;
					margin: 0 0.4rem;
				}
			}
		}

		// Accordion styles
		button.accordion-tab {
			width: 100%;
			background-color: #282828;
			border-radius: 0;
			color: white;
			border: none;
			border-bottom: 2px solid #fff;
			outline: none;
			padding: 1.8rem 1.1rem;
			font-size: 1.3rem;
			text-align: left;
			cursor: pointer;
			transition: background-color 0.2s linear;
			display: flex;
			justify-content: space-between;

			&:after {
				content: '\f055';
				font-family: 'FontAwesome';
				font-size: 20px;
				font-weight: 500;
				padding-top: 1px;
			}
		}

		button:nth-of-type(4) {
			border-bottom: none;
		}

		button.is-open {

			background-color: #313d4f;

			&:after {
				content: '\f056';
			}
		}

		.accordion-content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in-out;
		}

		// Project planning section
		#planning {

			img {
				display: block;
				border: 2px solid #282828;
				border-radius: 15px;
				width: 80%;
				margin: 0 auto;
			}

			figcaption {
				text-align: center;
				margin-bottom: 2rem;
				font-size: 0.8rem;
			}
		}

		// Project design section
		#design {

			img {
				display: block;
				border: 2px solid #282828;
				border-radius: 15px;
				width: 80%;
				margin: 0 auto;
				margin-top: 1.5rem;
			}
		}

		// Project development section
		#development {

			iframe {
				display: block;
				height: 25rem;
				width: 20rem;
				border-radius: 8px;
				margin: 0 auto;
				margin-bottom: 1.5rem;
			}

			code {
				border-radius: 8px;
			}

			
		}

		// View More Projects section
		h2#view-more {
			text-align: center;
			border-radius: 45px;
			padding: 1rem 0.6rem;
			margin: 2rem auto;
			margin-top: 2.4rem;
			color: #282828;

			&:after {
				content: '\f063';
				font-family: 'FontAwesome';
				font-size: 20px;
				color: #282828;
				margin-left: 0.5rem;
			}
		}

		#view-more-section {

			.view-more-container {
			margin: 2rem auto;
			position: relative;
			border: 3px solid #282828;
			border-radius: 8px;
			line-height: 0;
			box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			max-width: 380px;
			width: 92%;

				h3 {
					text-align: center;
					color: #fff;
					background-color: #282828;
					margin: 0;
					padding: 2rem 0;
					letter-spacing: 1px;
					font-weight: 500;
				}

				img {
					margin: 0;
				
				}

				a.view-more-button {
					background-color: #282828;
					text-align: center;
					width: 100%;
					padding: 1.2rem 0;
					border-radius: 0;
					text-decoration: none;
					color: #fff;
					font-size: 1.2rem;
					font-weight: 400;
					display: inline-block;     
					z-index: 1;     
					padding: 1.6rem;  
				}
			}
		}
	}
}

// Single Projects Page - Tablet Styles 
@media screen and (min-width: $mq__tablet) {

	.single-coulson-projects {
		
		.site {

			#single-img {

				display: block;
				max-width: 90%;
				margin: 0 auto;
				border: 3px solid #282828;
				border-radius: 8px;
				margin-top: 2rem;
			}

			.project-title {

				font-size: 2rem;
			}

			#links {

				justify-content: center;

				#live-site-link {

					margin-right: 5%;

					a {
						font-size: 1.2em;
						vertical-align: text-bottom;
						padding: 1.3rem 1.7rem;

						&:before {
							font-size: 19px;
							margin-right: 10px;
						}
					}

					
				}

				#github-link {

					margin-left: 5%;

					a {
						font-size: 1.2em;
						vertical-align: text-bottom;
						padding: 21px 34.5px;

						&:before {
							font-size: 20px;
							margin-right: 10px;
						}
					}
				}


			}

			#intro-info {
				padding: 0 1.5rem;
				margin-bottom: 3rem;

				p {
					font-size: 1.1em;
				}
			}

			#tech-container {

				width: 100%;
				display: flex;
				justify-content: center;
				margin-bottom: 2rem;

				#technology-used,
				#other-technology {

					width: 42%;
					max-width: 28rem;
				}

				#technology-used {

					margin-right: 1rem;
				}

				#other-technology {
					
					margin-left: 1rem;
				}
			}

			button.accordion-tab,
			.accordion-content {

				width: 92%;
				margin: 0 auto;
				max-width: 81.25rem;
			}

			button.accordion-tab {

				&:nth-of-type(1) {
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
				}

				&:nth-of-type(4) {
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
			}

			button.accordion-tab.is-open {
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			.accordion-content {

				padding: 0 1.5rem;

				p {
					font-size: 1.1em;
				}

				#planning, 
				#design {

					img {
						width: 60%;
					}
				}
			}

			#view-more-section {

				display: flex;
				justify-content: center;
				max-width: 950px;
				margin: 0 auto;
				margin-bottom: 3rem;
			}
		}
	}
}

// Single Projects Page - Desktop (sm) Styles
@media screen and (min-width: $mq__desktop_small) {
	
	.single-coulson-projects {
		
		.site {
			
			#single-img {

				width: 80%;
				max-width: 81.25rem;
			}

			.project-title {
				font-size: 2.7em;
			}

			#links {

				#live-site-link,
				#github-link {

					a {
						font-size: 1.4em;

						&:hover {

							transform-origin: scale(1.1);
							background-color: #ff7069;
							color: #282828;

							&:before {
								color:#282828;
							}
						}
					}
				}

				#github-link {

					a {
						padding: 20.7px 34.5px;

						&:before {
							font-size: 22px;
						}
					}

					
				}
			}

			#intro-info {

				max-width: 81.25rem;
				margin: 0 auto;
				font-size: 1.2em;
				margin-bottom: 4rem;
			}

			#tech-container {

				h2 {

					font-size: 1.5em;
				}

				#technology-used,
				#other-technology {

					width: 48%;
				}
			}

			button.accordion-tab {
				font-size: 1.5em;

				&:hover {

					background-color: #313d4f;
				}
			}

			.accordion-content {

				p {
					font-size: 1.2em;
				}
			}

			h2#view-more {
				font-size: 2em;

				&:after {
					font-size: 30px;
				}
			}

			#view-more-section {

				max-width: 1100px;
				margin: 0 auto;

				.view-more-container {

					max-width: 450px;
					margin-bottom: 3rem;
					transition: 0.3s ease-in-out;

					&:hover {

						transform: scale(1.05);
						box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
					}
				}
			}
		}
	}
}

// Query for isotope buttons on Archive page - 351px and below
@media screen and (max-width: 351px) {

	.archive {
		.site {
			.site-main {

				div.button-group {

					margin: 2.5rem auto;
					margin-top: 2rem;
					display: flex;
					flex-wrap: wrap;
					text-align: center;
					justify-content: center;
	
					button {
	
						color: #fff;
						border: 3px solid #282828;
						background-color: #282828;
						border-radius: 25px;
						width: 8rem;
						padding: 1rem 0;
						margin: 0.4rem;
						font-weight: 500;
					}
	
					button.active {
	
						color: #282828;
						background-color: #ff7069;
					}
				}

			}
		}
	}
}


// Styles for Projects Archive Page - mobile

.archive {
	.site {
		.site-main {

			padding: 0 1rem;

			h1 {
			
				position: relative;
				font-size: 11vw;
				font-weight: bold;
				overflow: hidden;
				margin: 0 auto;
				text-align: center;
				color: #282828;
				padding-left: 6%;
	
	
				span.archive-cursor {
					font-weight: normal;
				}
			}

			// Isotope filter buttons
			.button-group {

				margin: 2.5rem auto;
				margin-top: 2rem;
				max-width: 571px;
				display: flex;
				flex-wrap: wrap;
				text-align: center;
				justify-content: center;

				button {

					color: #fff;
					border: 3px solid #282828;
					background-color: #282828;
					border-radius: 25px;
					width: 9rem;
					padding: 1rem 0;
					margin: 0.5rem;
					font-weight: 500;
				}

				button.active {

					color: #282828;
					background-color: #ff7069;
				}
			}

			// Project containers
			#isotope-container {

				max-width: 540px;
				margin: 0 auto;
				margin-bottom: 2rem;

				#isotope-item {

					max-width: 540px;
					justify-content: center;

					.archive-project-container {

						border: 3px solid #282828;
						margin-bottom: 0.4rem;
						border-radius: 8px;
						box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;

						.entry-header {

							margin-top: 0;

							h3 {

								text-align: center;
								width: 100%;
								display: block;
								font-size: 1.3em;
								background-color: #282828;
								margin: 0;
								padding: 0.8rem 0;

								a {

									text-decoration: none;
									color: #fff;
									text-align: center;
								}
							}

							div#technology-header {

								border: 2px solid #282828;
								background-color: #282828;
								padding-bottom: 0.5rem;
								display: block;
								width: 100%;
								
								ul {

									list-style: none;
									width: 100%;
									display: flex;
									flex-wrap: nowrap;
									flex-direction: row;
									margin: 0;
									padding: 0;
									justify-content: space-evenly;
					
									svg {

										fill: #fff;
										width: 30px;
										height: 30px;
										margin: 0 0.4rem;
									}
								}
							}
							
						}

						.entry-content {
							margin-top: 0;

							a {

								display: block;
								
								img {

									display: block;
								}
							}

							p {

								background-color: #282828;
								margin: 0;
								color: #fff;
								padding: 1.3rem 0.8rem;
								text-align: center;
							}
						}
					}
				}
			}

			.see-more-btn-container {
				#see-more-btn {

					display: inline-block;
					text-align: left;
					text-decoration: none;
					color: #fff;
					font-size: 1.1em;
					background-color: #282828;
					border: 3px solid #282828;
					padding: 0.5rem 0.9rem;
					border-radius: 25px;
					margin-bottom: 3rem;
					margin-top: 0.5rem;
					transition: all 0.3s ease-in-out;

						&:focus {

							color: #282828;
							background-color: #ff7069;
							transition: all 0.2s ease-in-out; 
						}
				}

				&:nth-of-type(even) {

					display: block;
					text-align: right;
				}
			}
		}
	}
}

// Styles for project archive page - tablet 
@media screen and (min-width: 960px) {
	.archive {

		.site {

			.site-main {

				h1 {
			
					font-size: 7vw;
					padding-left: 5%;
				}

				.button-group {
					max-width: 700px;
				}

				#isotope-container {
					max-width: 864px;
					margin: 0 auto!important;

					#isotope-item {
						max-width: 400px;
						margin: 1rem;
					}
				}

			}
		}
	}
}



// Styles for Project archive page - Desktop (sm)
@media screen and (min-width: $mq__desktop_small) {
	.archive {

		.site {

			.site-main {

				h1 {
			
					font-size: 5.5rem;
					padding-left: 3.5rem;

				}

				.button-group {
					max-width: 1000px;

					button {

						transition: all 0.2s ease-in-out;

						&:hover {

							color: #282828;
							border: 3px solid #282828;
							background-color: #ff7069;
							transition: all 0.1s ease-in-out; 
							cursor: pointer;
						}
					}
				}

				#isotope-container {
					max-width: 1064px;
					margin: 0 auto!important;

					#isotope-item {
						max-width: 500px;
						margin: 1rem;

						.archive-project-container {
							transition: 0.3s ease-in-out;
							
							&:hover {
								transform: scale(1.04);
								box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
							}
						}
					}
				}

				.see-more-btn-container {
					#see-more-btn {
						border: 3px solid #282828;

						&:hover {

							color: #282828;
							border: 3px solid #282828;
							background-color: #ff7069;
							transition: all 0.2s ease-in-out; 
						}
					}
				}
			}
		}
	}
}

// Styles for Project archive page - Desktop (lg)
@media screen and (min-width: 1780px) {
	.archive {

		.site {

			.site-main {

				#isotope-container {

					max-width: 1728px;

					#isotope-item {
						max-width: 400px;
					}
				}

			}
		}
	}
}

// Styles for contact page - Form styling in components/_forms.scss
.page-id-20 {

	.site {

		#contact-header {
			
			h1 {

				text-align: center;
				color: #282828;

				&:before {

					content: '\f0e0';
					font-family: 'FontAwesome';
					font-size: 33px;
					color: #282828;
					padding-right: 10px;
				}
			}
		}

		#contact-body {

			p {

				padding: 0 1rem;
				text-align: center;
			}
		}
	}
}

// Style for contact page - tablet 
@media screen and (min-width: $mq__tablet) {

	.page-id-20 {

		.site {

			height: 100vh;

			#contact-header {

				h1 {

					font-size: 2.5em;

					&:before {

						font-size: 41px;
					}
				}
			}

			#contact-body {

				p {
					font-size: 1.1em;
				}
			}
		}
	}
}

// Styles for contact page - Desktop
@media screen and (min-width: $mq__desktop_small) {

	.page-id-20 {

		.site {

			#contact-header {

				h1 {

					font-size: 2.8em;

					&:before {

						font-size: 46px;
					}
				}
			}

			#contact-body {

				p {
					font-size: 1.3em;
					margin-bottom: 4rem;
				}
			}
		}
	}
}


// Styles for about page 
.page-id-18 {

	.site {

		h1 {
			text-align: center;

			&:before {
				content: '\01F44B';
				margin-right: 7px;
				font-size: 32px;
			}
		}

		#about-img {

			img {
				display: block;
				max-height: 25rem;
				max-width: 12rem;
				border: 3px solid #282828;
				border-radius: 8px;
				margin: 0 auto;
			}
		}

		#about-copy {
			padding: 0 2rem;
			margin-bottom: 3rem;
		}

		#contact-link-container {

			text-align: center;

			#contact-link {
				display: inline-block;
				text-align: center;
				text-decoration: none;
				color: #fff;
				font-size: 1.4em;
				background-color: #282828;
				padding: 0.5rem 0.9rem;
				border-radius: 25px;
				margin: 0 auto;
				margin-bottom: 3rem;
				border: 3px solid #282828;
				transition: all 0.3s ease-in-out;

				&:before {
					content: '\f0e0';
					font-family: 'FontAwesome';
					font-size: 20px;
					color: #fff;
					margin-right: 10px;
					text-align: center;
					transition: all 0.3s ease-in-out;
				}

				&:focus {
					background-color: #ff7069;
					color: #282828;

					&:before {
						color: #282828;
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}

		// Accordion styles
		button.accordion-tab {
			width: 100%;
			background-color: #282828;
			border-radius: 0;
			color: white;
			border: none;
			border-bottom: 2px solid #fff;
			outline: none;
			padding: 1.8rem 1.1rem;
			font-size: 1.3rem;
			text-align: left;
			cursor: pointer;
			transition: background-color 0.2s linear;
			display: flex;
			justify-content: space-between;

			&:after {
				content: '\f055';
				font-family: 'FontAwesome';
				font-size: 20px;
				font-weight: 500;
				padding-top: 1px;
			}
		}

		button.is-open {

			background-color: #313d4f;

			&:after {
				content: '\f056';
			}
		}

		.accordion-content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in-out;
			padding: 0 1rem;
			margin-top: 1rem;

			#about-tech-icons {

				margin: 0 auto;

				ul {

					list-style: none;
					display: flex;
					max-width: 435px;
					flex-wrap: wrap;
					margin: 0 auto;
					padding: 0;
					justify-content: space-evenly;
	
					li {

						svg {

							fill: #282828;
							width: 60px;
							height: 60px;
							margin: 0.2rem 0.3rem;
						}
					}
				}
			}
		}

		footer {
			margin-top: 3rem;
		}
		
	}
}

// About page styles - Tablet
@media screen and (min-width: $mq__tablet) {

	.page-id-18 {

		.site {

			height: 100vh;

			h1 {

				font-size: 2.5em;
	
				&:before {

					margin-right: 10px;
					font-size: 41px;
				}
			}
	
			#about-content {

				display: flex;
				justify-content: center;
				max-height: 600px;
				padding: 0 1rem;
				
				#about-img {
					
					padding-top: 1.4rem;
					padding-left: 1rem;

					img {
						display: block;
						max-height: 30rem;						margin-right: 1rem;
						max-width: 15rem;
					}
				}
		
				#about-copy {
					width: 65%;
					max-width: 38.75rem;
					margin-top: 0;
					padding-bottom: 1rem;

					p {
						font-size: 1em;
						margin-top: 0;
					}
				}
			}

			#contact-link-container {
		
				#contact-link {

					font-size: 1.6em;
					padding: 0.6rem 1.1rem;
					margin: 0 auto;
					margin-top: 1.5rem;
					margin-bottom: 4.2rem;
	
					&:before {

						font-size: 24px;
						margin-right: 10px;
					}
				}
			}

			// Accordion styles
			button.accordion-tab {
				width: 60%;
				max-width: 690px;
				margin: 0 auto;
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
			}

			.accordion-content {

				#about-tech-icons {

					margin: 0 auto;

					ul {

						list-style: none;
						display: flex;
						max-width: 465px;
						flex-wrap: wrap;
						margin: 0 auto;
						padding: 0;
						justify-content: space-evenly;
		
						li {

							svg {

								fill: #282828;
								width: 65px;
								height: 65px;
								margin: 0.2rem 0.3rem;
							}
						}
					}
				}
			}
		}
	}
}

// About page styles - desktop 
@media screen and (min-width: $mq__desktop_small) {

	.page-id-18 {

		.site {

			h1 {

				font-size: 2.8em;
	
				&:before {

					font-size: 45px;
				}
			}
	
			#about-content {
				
				#about-img {
					
					padding-top: 1rem;
					padding-left: 3rem;

					img {
						display: block;
						max-height: 35rem;
						max-width: 20rem;
						margin-right: 5rem;
					}
				}
		
				#about-copy {
					width: 60%;
					max-width: 38.75rem;

					p {
						font-size: 1.2em;
					}
				}
			}

			#contact-link-container {
		
				#contact-link {

					font-size: 1.8em;
					padding: 0.6rem 1.1rem;
					margin: 0 auto;
					margin-top: 2.5rem;
					margin-bottom: 6rem;
					transition: all 0.3s ease-in-out;
	
					&:before {

						font-size: 27px;
						transition: all 0.3s ease-in-out;
					}

					&:hover {
						background-color: #ff7069;
						color: #282828;


						&:before {
							color: #282828;
							transition: all 0.3s ease-in-out;
						}
					}
				}
			}

			.accordion-tab {

				transition: all 0.3s ease-in-out;

				&:hover {

					background-color: #313d4f;
				}
			}

			.accordion-content {

				#about-tech-icons {

					ul {

						max-width: 555px;
		
						li {

							svg {

								fill: #282828;
								width: 70px;
								height: 70px;
								margin: 0.2rem 0.3rem;
							}
						}
					}
				}
			}
		}
	}
}


// About page styles - desktop large
@media screen and (min-width: $mq__desktop_large) {

	.page-id-18 {

		.site {
	
			.accordion-content {

				#about-tech-icons {

					ul {

						max-width: 640px;
		
						li {

							svg {

								fill: #282828;
								width: 70px;
								height: 70px;
								margin: 0.2rem 0.3rem;
							}
						}
					}
				}
			}
		}
	}
}


// Thank You page styles - mobile 
.page-id-139 {

	background: linear-gradient(134deg, #ff716995, #66ffc779, #ff716995, #66ffc779);
	background-size: 400% 400%;

	-webkit-animation: gradient-animation 32s ease infinite;
	-moz-animation: gradient-animation 32s ease infinite;
	animation: gradient-animation 32s ease infinite;

	
	@-webkit-keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}
	@-moz-keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}
	@keyframes gradient-animation {
		0%{background-position:0% 9%}
		50%{background-position:100% 92%}
		100%{background-position:0% 9%}
	}

	.site {

		height: 100vh;

		h1 {

			color: #313d4f;
			font-size: 7vw;
			white-space: nowrap;
			text-align: center;
			font-weight: 600;
			letter-spacing: 1px;
			margin-top: 23vh;
		}

		h2 {

			color: #282828;
			font-size: 3.8vw;
			text-align: center;
			white-space: nowrap;
			font-weight: 500;
			margin-bottom: 3rem;
		}

		p#thank-you-text {

			color: #282828;
			text-align: center;
			font-weight: 500;
			padding: 2rem 4rem;
			margin: 0;
		}

		a#thank-button {

			display: block;
			text-decoration: none;
			color: #fff;
			background-color: #282828;
			border: 3px solid #282828;
			padding: 0.5rem 1.1rem;
			max-width: 140px;
			border-radius: 25px;
			text-align: center;
			margin: 0 auto;
			transition: all 0.3s ease-in-out;
			margin-bottom: 8rem;

			&:focus {

				background-color: #ff7069;
                color: #282828;
			}

		}

		footer {
			display: none;
		}
	}
}

// Thank You styles - Tablet

@media screen and (min-width: $mq__tablet) {

	.page-id-139 {

		.site {

			h1 {

				margin-top: 16vh;
				font-size: 5vw;
			}

			h2 {

				font-size: 2.7vw;
			}

			p#thank-you-text {

				font-size: 1.8vw;
			}

			a#thank-button {

				max-width: 190px;
				font-size: 1.3em;
				padding: 0.8rem 1.9rem;
			}
		}
	}
}

// Thank You styles - desktop

@media screen and (min-width: $mq__desktop_small) {

	.page-id-139 {

		.site {

			h1 {
				font-size: 4.8vw;
				margin-top: 12vh;
			}

			h2 {

				font-size: 2.2vw;
			}

			p#thank-you-text {

				font-size: 1.6vw;
			}

			a#thank-button {

				&:hover {

					background-color: #ff7069;
                	color: #282828;
				}
			}
		}
	}
}
