.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Single Project Page 

// Single Projects Accordion Styles
.single-coulson-projects {
	.site {
		button.accordion-tab {
			width: 100%;
			background-color: #282828;
			color: white;
			border: none;
			outline: none;
			padding: 1rem 1.1rem;
			font-size: 1.125rem;
			cursor: pointer;
			transition: background-color 0.2s linear;

			&:hover {
				background-color: #4a4949;
			}

			&:after {
				content: '\f055';
				font-family: 'FontAwesome';
				font-size: 14px;
				font-weight: 500;
			}
		}

		button.is-open {
			&:after {
				content: '\f056';
			}
		}

		.accordion-content {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-in-out;
		}
	}
}

