footer {
	background-color: $color__text_main;
	bottom: 0;

	.footer-nav {

		ul {
			list-style: none;
			display: flex;
			width: 40%;
			max-width: 150px;
			margin:0 auto;
			padding: 0;
			padding-top: 10px;

			li {
				margin:0 auto;

				svg {
					width: 40px;
					height: 40px;
				}

				a { 
					text-decoration: none;
		
					&:visited {
						text-decoration: none;
					}
				}
			}
		}

		p {
			color: #fff;
			text-align: center;
			font-size: 0.9em;
			padding-bottom: 10px;
			margin-bottom: 0;
		}
	}
}

// Clear footer styles for WP Admin edit button.
.entry-footer {
	background-color: transparent;
}


// Mobile Navigation - Bottom Nav Bar

@media screen and (max-width: $mq__tablet) {
	header {

		.site-branding {
			width: 80vw;
			min-width: 18rem;
			margin: 1rem auto;
		}

		.main-navigation{
			display: none;
		}

		nav.mobile-navigation {

			z-index: 9999;

			ul {

				display: flex;
				justify-content: space-between;
				width: 100vw;
				margin: 0;
				padding: 0.5rem 1rem;
				background-color: $color__text_main;
				bottom: 0;
				position: fixed;
				z-index: 9999;

				li {
					
					list-style: none;
					
					a {
						display: block;
						padding: 0.5em 1.6em;
						margin: -0.5em -2em;
						text-decoration: none;
						

						svg {
							width: 55px;
							height: 55px;
							fill: white;
							align-items: center;
							z-index: 9999;
						}

						#icon-home {
							padding-top: 4px;
							height: 56px;
						}
		
						#icon-projects {
							width: 49px;
							height: 51px;
							padding-top: 6px;
							padding-left: 2px;
						}

						#icon-about {
							width: 54px;
							padding-left: 2px;
						}

						#icon-contact {
							padding-bottom: 4px;
						}
		
						p {
							text-decoration: none;
							color: white;
							text-align: center;
							margin: 0;
							font-size: 0.8rem;
						}

						#home-text {
							padding-right: 2px;
							padding-top: 2.6px;
						}

						#projects-text {
							padding-top: 6.3px;
						}

						#about-text,
						#contact-text {
							padding-top: 3px;
						}
					}
				}
			}
		}
	}

	footer {
		margin-bottom: 6.3125rem;
	}
}

@media screen and (min-width: 520px) {

	header {
		nav.mobile-navigation {
			ul {
				padding: 0.5rem 2rem;
			}
		}
	}
}

@media screen and (min-width: 767px){
	.main-navigation {
		display: block;
	}

	.mobile-navigation {
		display: none;
	}

	footer {
		margin-bottom: 0;
	}
}

@media screen and (min-width: $mq__tablet) {

	header{
		
		display: flex;
		margin-top: 1rem;

		.site-branding {
			width: 80vw;
			max-width: 500px;
			margin-left: 1.5rem;
			margin-top: 0.5rem;
		}

		.main-navigation {
			display: block;
			width: 100%;
		
			ul {
				list-style: none;
				margin-left: auto;
				margin-right: 3.5rem;
				padding-left: 0;
				display: flex;
				padding-top: 1.9rem;
				justify-content: space-between;
				width: 45vw;
		
				li:hover > ul,
				li.focus > ul {
					left: auto;
				}
			}
		
			li {
				position: relative;
				font-size: 2em;
				transition: 0.5s ease-in-out;

				&:hover {
					transform: scale(1.1);
				}
			}

			li:after {
				content: '';
				display: block;
				margin: auto;
				height: 3px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}

			li:hover:after {
				width: 100%;
				background: $color__brand_color_1;
			}
			  
		
			a {
				display: inline-block;
				vertical-align: middle;
				text-decoration: none;
				color: $color__brand_color_3;
				font-weight: 500;
			}
	
		}
	}
}

@media screen and (min-width: $mq__tablet) and (max-width: $mq__desktop_small) {
	header {
		display: flex;
		flex-direction: column;

		.site-branding {
			width: 60vw;
			margin: 0 auto;
		}

		.main-navigation {

			ul {

				width: 100%;
				padding: 0 4rem;

				li {
					font-size: 1.7em;
				}
			}
		}
	}
}